.formacao {
  background-color: #141414;
  position: relative;
}

.formacao-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 120px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
}

.formacao-container > h2 {
  font-family: fira sans, sans-serif;
  color: #000;
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
}

.formacao-itens {
  display: grid;
  gap: 60px;
}

.formacao-itens > p {
  color: #a3a3a3;
  font-size: 1.5rem;
  line-height: 1.33;
  font-family: fira sans, sans-serif;
  max-width: 40ch;
}

.formacao-itens > p > span {
  color: #fff;
  font-weight: 700;
}

.formacao-escolaridade {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.formacao-escolaridade > li {
  display: grid;
  padding: 20px;
  background-color: #000;
  border-radius: 4px;
  gap: 10px;
  position: relative;
}

.formacao-escolaridade > li > span {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  font-family: fira sans, sans-serif;
}

.formacao-escolaridade > li > span:last-child {
  font-size: 1.125rem;
}

.formacao-escolaridade > li > h3 {
  color: #fff;
  font-family: fira sans, sans-serif;
  margin-bottom: 30px;
  line-height: 1.4;
}

.formacao-habilidades {
  display: grid;
  gap: 60px;
}

.cursos >li> span {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  font-family: fira sans, sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.cursos > li {
  font-size: 1.125rem;
  line-height: 1.1;
  color: #fff;
  font-family: fira sans, sans-serif;
  margin-top: 20px;
}

.idiomas > li>span {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  font-family: fira sans, sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.idiomas > li {
  font-size: 1.125rem;
  line-height: 1.1;
  color: #fff;
  font-family: fira sans, sans-serif;
  margin-top: 20px;
}

.formacao-escolaridade > li::before {
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -4px;
  top: 47px;
}

.cursos >li> span::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("./img/cursos.svg") no-repeat center;
  position: absolute;
  left: -36px;
  top: -4px;
}

.idiomas >li> span::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("./img/idiomas.svg") no-repeat center;
  position: absolute;
  left: -36px;
  top: -4px;
}

.formacao::after{
  content: "";
  width: 130px;
  height: 100px;
  background: url("./img/detalhe.svg") no-repeat center;
  position: absolute;
  left: 80px;
  bottom: -50px;
}

@media(max-width: 800px){
  .formacao-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .formacao-container>h2{
    max-width: initial;
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
  }
  .formacao-itens>p{
    font-size: 1.25rem;
  }
  .cursos >li> span::before {
    left: 00px;
    top: -30px;
  }
  
  .idiomas >li> span::before {
    left: 0px;
    top: -30px;
  }

  .formacao-escolaridade{
    grid-template-columns: 1fr;
  }
}
